name: Build documentation

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    permissions:
      id-token: write
      pages: write
      contents: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
      - name: Setup Julia
        uses: julia-actions/setup-julia@v1
        with:
          version: "1.11"
      - name: Build Julia documentation and deploy
        run: |
          touch src/Constants.jl
          julia --project=docs -e '
            using Pkg
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()
          '
          julia --project=docs docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # If authenticating with GitHub Actions token
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }} # If authenticating with SSH deploy key
